App_Data/Controllers/Report/Config/Print.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema id="Print" targetNamespace="urn:schemas-ai-erp:data-print" elementFormDefault="qualified" xmlns="urn:schemas-ai-erp:data-print" xmlns:a="urn:schemas-ai-erp:data-print" xmlns:mstns="urn:schemas-ai-erp:data-print" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="print" type ="printType"/>

  <xs:complexType name="printType">
    <xs:all maxOccurs="1" minOccurs="1">
    </xs:all>
    <xs:attribute name="removeRows" type="xs:string" use="optional"/>
  </xs:complexType>
</xs:schema>